.wrapper{
    margin: 10px auto;
    padding: 10px;
    background: #FEFEFE;
    border: 1px solid #c0c2d1;
    box-sizing: border-box;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.11);
    border-radius: 24px;
    text-align: center;
    min-width: 100px;
    max-width: 300px;
    
}

.wrapper ul{
    padding : 10px;
}

.wrapper ul li{
    list-style-type: none; 
    margin: 4px;  
}